@import "tailwindcss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  background: #fff;
  color: #111;
}

/* Smooth scrolling for anchor links */
html {
  scroll-behavior: smooth;
}
